UPLIFT_BLOG_API_TOKEN=your_uplift_blog_api_token

RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL_TO=hrgreenrootslandscapingltd@gmail.com
CONTACT_EMAIL_FROM="HR Greenroots Website <onboarding@resend.dev>"
